extends layout

block content
    .uk-container.uk-margin-top
        .uk-card.uk-card-default.uk-card-body.uk-width-1-2
            h3.uk-card-title Default
            p It is for testing...
    span.uk-margin-left.uk-margin-top(uk-icon="icon: layers")